{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <title>Автори</title>
</head>
<body>
    <div class="post_list_page">
        <h2 class="post_list_title">Автори</h2>
            <ul class="post_list_container">
                {%for author in author_list%}
            <li class="post_item">
                {{author.name}} 
                <a href="{% url 'author_to_post' author.name %}" class="post_list_button">Детальніше</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html>