{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <title>Список постів</title>
</head>
<body>
    <div>
        <h2 class="post_list_title">Пости</h2>
        <ul class="post_list_container">
            {% for post in post_list %}
            <li class="post_item">
                {{ post.title }}
                <a href="{% url 'post_info' post.id %}" class="post_list_button">Детальніше</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>