{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <title>Детальна інформація про пости</title>
</head>
<body>
    <h2> Автор: {{post_infa.author}}</h2>
    <h2>Написано: {{post_infa.publish_date}}</h2>
    <p>{{post_infa.title}}</p>
    <p>{{post_infa.content}}</p>
    <h2>Коментарі:</h2>
    {% if comment_infa %}

        {%for comment in comment_infa%}
            <h2>Коментатор: {{comment.author_name}}</h2>
            <p>До поста: {{comment.post}}</p>
            <p>Коментар: {{comment.text}}</p>
            <h3>Написано: {{comment.created_date}}</h3>

        {%endfor%}
    {%else%}
        <h2>Немає коментарів</h2>
    {%endif%}


    
</body>
</html>