{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <title>Детальна інформація про пости</title>
</head>
<body>
    <h2 class="author_name"> Автор: {{post_infa.author}}</h2>
    <ul class="author_container">
        <li class="author_item">
            <h2 class="post_date">Написано: {{post_infa.publish_date}}</h2>
            <p class="post_fond">{{post_infa.title}}</p>
            <p class="post_text">{{post_infa.content}}</p>
        </li>
    </ul>

    <h2 class="author_name">Коментарі</h2>
    {% if comment_infa %}

        {%for comment in comment_infa%}

        <ul class="author_container">
            <li class="author_item">
        
                <h1>Коментатор: {{comment.author_name}}</h1>
                <p class="post_date">До поста: {{comment.post}}</p>
                <p class="post_text">Коментар: {{comment.text}}</p>
                <h3 class="post_date">Написано: {{comment.created_date}}</h3>
            </li>
        </ul>

        {%endfor%}
    {%else%}
        <h2>Немає коментарів</h2>
    {%endif%}


    
</body>
</html>