body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #ffde59;

}

.menu-page {
    background: #2b2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.menu-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5;
}

.menu-title {
    font-size: 4.5rem;
    font-weight: 700;
    color: #ffde59;
    background-color: #0097b2;
    padding: 1rem 2rem;
    border-radius: 25px;
    margin-bottom: 3rem;
    width: 200px;
    margin: 0 auto 3rem auto;
}

.menu-button {
    display: block;
    font-size: 4.5rem;
    font-weight: 700;
    color: #ffde59;
    background-color: #0097b2;
    padding: 2.5rem 6rem;
    border-radius: 20px;
    transition: transform 0.2s;
    text-decoration: none;
    margin-bottom: 3.5rem;
    width: 300px;
}

.menu-button:hover {
    transform: scale(1.05);
}

.post_list_page {
    background: #2b2a2a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 3rem;
    padding: 20px;


}

.post_list_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    color: #ffde59;
    background-color: #0097b2;
    padding: 2.5rem 6rem;
    border-radius: 20px;
    transition: transform 0.2s;
    text-decoration: none;
    margin-bottom: 3.5rem;
    width: 200px;
    height: 50px;
    margin: 0 auto 2rem auto;


}

.post_list_button {
    width: 100px;
    padding: 0.5rem 3rem;
    color: #ffde59;
    background-color: #0097b2;
    font-size: 2rem;
    text-decoration: none;
    transition: transform 0.2s;
    border-radius: 20px;

}
.post_list_button:hover {
    transform: scale(1.05);
}

.post_list_container {
    gap: 1.5;
}