body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #ffde59;
    background: #2b2a2a;

}

.menu-page {
    background: #2b2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.menu-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5;
}

.menu-title {
    font-size: 4.5rem;
    font-weight: 700;
    color: #ffde59;
    background-color: #0097b2;
    padding: 1rem 2rem;
    border-radius: 25px;
    margin-bottom: 3rem;
    width: 200px;
    margin: 0 auto 3rem auto;
}

.menu-button {
    display: block;
    font-size: 4.5rem;
    font-weight: 700;
    color: #ffde59;
    background-color: #0097b2;
    padding: 2.5rem 6rem;
    border-radius: 20px;
    transition: transform 0.2s;
    text-decoration: none;
    margin-bottom: 3.5rem;
    width: 300px;
}

.menu-button:hover {
    transform: scale(1.05);
}

.post_list_title {
    text-align: center;
    font-size: 4rem;
    color: #ffde59;
    background-color: #0097b2;
    padding: 1rem 2rem;
    border-radius: 20px;
    width: 300px;
    margin: 0 auto 3rem auto;
}

.post_list_container {
    list-style: none;
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
}

.post_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #ffde59;
}

.post_list_button {
    background-color: #0097b2;
    color: #ffde59;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    text-decoration: none;
}

.post_list_button:hover {
    background-color: #00b8d4;
}

.author_name {
    text-align: center;
    font-size: 4rem;
    color: #ffde59;
    margin: 0 auto 3rem auto;
    height: 200px;
    padding: 1rem 2rem;
    border-radius: 20px;
    margin-bottom: -5rem;

}

.author_container {
    list-style: none;
    padding: 0;
    max-width: 900px;
    margin: 0 auto;

}

.author_item {
    
    
    text-align: center;
    align-items: center;
    background-color: #1a1a1a;
    padding: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: #ffde59;

}

.post_fond {
    font-size: 3rem;
}
.post_text {
    font-size: 2rem;
}
.post_date {
    font-size: 2.5rem;
}